@CHARSET "UTF-8";

html, body {
	font-family: Arial;
}

a {
	color: red;
}

#wrap {
	width: 1200px;
	margin: 0 auto;
	min-height: 100%;
}

#menu {
	margin: 0;
}

#menu ul {
	background: #000;
}

#menu li {
	display: inline-block;
	margin: 5px;
	padding: 5px;
	width: 150px;
	text-align: center;
}

#menu li:hover {
	background: #fff;
}

#menu a {
	text-decoration: none;
	display: block;
	padding: 10px;
	color: #fff;
}

#menu a:hover {
	color: #000;
}

#menu .current {
	background: #fff;
	color: #000;
}

/* ================================================= */

.wide-table {
	width: 100%;
	border-collapse: collapse;
}

.wide-table th, .wide-table td {
	border: 1px solid #000;
}

