@CHARSET "UTF-8";

#slideshow #slidesContainer {
	/*margin: 0 auto;
	width: 560px;*/
	height: 263px;
	/*overflow: auto;*/ /* allow scrollbar */
	/* position: relative; */
}

#slideshow #slidesContainer .slide {
	margin: 0 auto;
	text-align: center;
	width: 1180px; /* reduce by 20 pixels to avoid horizontal scroll */
	height: 263px;
}

#slideshow #slidesContainer .slide img {
	height: 263px;
}

/**
* Правила стилей элементов управления слайдшоу.
*/
.control {
	display: block;
	width: 128px;
	height: 128px;
	text-indent: -10000px;
	/* position: absolute; */
	cursor: pointer;
}

#leftControl, #rightControl {
	/* top: 60; */
	position: relative;
}

#leftControl {
	top: 60;
	left: 0;
	background: url(img/control_left.png) no-repeat;
}

#rightControl {
	top: 60;
	right: 0;
	background: url(img/control_right.png) no-repeat;
}